<h3>MovieDetail</h3>
<div class="col-lg-4 mx-auto">
    <div class="card" style="width: 18rem;">
        <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
        <img src="@MovieModel.ImgPoster" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@MovieModel.Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Actors</h6>
            <p class="card-text">@MovieModel.Actors</p>
            <h6 class="card-subtitle mb-2 text-muted">Year</h6>
            <p class="card-text">@MovieModel.Year</p>
            <h6 class="card-subtitle mb-2 text-muted">Rank</h6>
            <p class="card-text">@MovieModel.Rank</p>

            <a class="btn btn-primary">Close</a>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public MovieModel MovieModel { get; set; }
}
